menu "KernelSU"

config KSU
	tristate "KernelSU function support"
	depends on OVERLAY_FS
	default y
	help
	  Enable kernel-level root privileges on Android System.
	  To compile as a module, choose M here: the
	  module will be called kernelsu.

config KSU_DEBUG
	bool "KernelSU debug mode"
	depends on KSU
	default n
	help
	  Enable KernelSU debug mode.

config KSU_THRONE_TRACKER_ALWAYS_THREADED
	bool "Always run throne_tracker in a kthread"
	default n
	help
	  Runs throne_tracker in a separate kthread, including the first run.
	  Significantly decreases boot time, but can cause crowning failure
	  on some FDE or FBEv1 setups.
	  If unsure, say n.

endmenu
